<!DOCTYPE html>
<html>
<head>

    <title>wow-forums</title>

    <link rel="stylesheet" href="main.css">

    <!-- Include Twitter Bootstrap and jQuery: -->
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Include the plugin's CSS and JS: -->
    <script type="text/javascript" src="bootstrap-multiselect.js"></script>
    <script src="table.js">

    </script>
    <link rel="stylesheet" href="bootstrap-multiselect.css" type="text/css"/>
</head>
<body>
    <main>
        <section class="dropdown_list">
            <div class="selectors"><select id="class_select" multiple="multiple">
                <option value="General">General</option>
                <option value="Death-knight">Death knight</option>
                <option value="Demon-hunter">Demon hunter</option>
                <option value="Druid" selected="selected">Druid</option>
                <option value="Hunter">Hunter</option>
                <option value="Mage">Mage</option>
                <option value="Monk">Monk</option>
                <option value="Paladin">Paladin</option>
                <option value="Priest">Priest</option>
                <option value="Rogue">Rogue</option>
                <option value="Shaman">Shaman</option>
                <option value="Warlock">Warlock</option>
                <option value="Warrior">Warrior</option>
            </select>
                <select id="country-select" multiple="multiple">
                    <option value="US" selected="selected">US</option>
                    <option value="Europe" selected="selected">Europe</option>
                </select></div>
            <!-- Initialize the plugin: -->
            <!--<p><input type="button" id="nodeGoto" value="Create Table From JSON"/></p>-->
            <div id="showData">
            </div>
            <script type="text/javascript" src="dropdown.js"></script>
        </section>
    </main>
    <footer>
        <div class="footer_div">
            <span><a href = "mailto: wowforumsglobal@gmail.com">Contact</a></span>
        </div>
    </footer>
</body>
</html>